pkgbase = hyprplay
	pkgdesc = Local music player for Hyprland/Omarchy
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/jy0un9/hyprplay
	arch = x86_64
	license = MIT
	makedepends = qt6-tools
	depends = qt6-base
	depends = qt6-declarative
	depends = mpv
	depends = taglib
	depends = libsecret
	depends = ffmpeg
	optdepends = beets: optional autotag during import
	optdepends = opus-tools: FLAC→Opus convert import mode (opusenc)
	source = hyprplay-0.1.2.tar.gz::https://github.com/jy0un9/hyprplay/archive/refs/tags/v0.1.2.tar.gz
	sha256sums = c9f46491bf8d7e796ea240821dde3d58ef89f5f83edce8c1da926484d435f944

pkgname = hyprplay
