[Desktop Entry]
Type=Application
Name=Hyprplay
GenericName=Music Player
Comment=Local FLAC/Opus/Ogg/MP3/M4A/AAC player for Hyprland / Omarchy
Exec=hyprplay %U
Icon=hyprplay
TryExec=hyprplay
Categories=AudioVideo;Audio;Player;
Keywords=music;audio;flac;opus;ogg;mp3;m4a;player;library;hyprland;
MimeType=audio/flac;audio/ogg;audio/opus;audio/mpeg;audio/mp4;audio/aac;audio/x-m4a;
StartupNotify=true
Terminal=false
SingleMainWindow=true
StartupWMClass=hyprplay
